<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ParseChat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FF30B2C1203E7A6900AE19A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF30B2D5203E7A6900AE19A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF30B2E0203E7A6900AE19A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
